.demo {
    position: relative;
    left: 50%;
    margin-left: -35rem;
    width: 70rem;
    height: 50rem;

    background: #FFFFFF;
    box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.4);
}

.demo__content {
    position: relative;
    height: 100%;
}

.demo__heading {
    font-size: 2.2rem;
    line-height: 7rem;
    padding-left: 3rem;
    color: #313131;
}

.demo__elems {
    position: relative;
    height: 21rem;
}

.demo__elem {
    position: relative;
    height: 7rem;
    font-size: 1.8rem;
    line-height: 7rem;
    padding-left: 3rem;
    border-top: 1px solid #e7e7e7;
}

.demo__hover {
    z-index: 2;
    position: absolute;
    left: 0;
    width: 100%;
    height: 7rem;
    cursor: pointer;
}

.demo__hover-1 {
    top: 0;
}

.demo__hover-1:hover ~ .demo__highlighter {
    transform: translateY(0);
}

.demo__hover-1:hover ~ .demo__highlighter .demo__elems {
    transform: translateY(0);
}

.demo__hover-2 {
    top: 7rem;
}

.demo__hover-2:hover ~ .demo__highlighter {
    transform: translateY(7rem);
}

.demo__hover-2:hover ~ .demo__highlighter .demo__elems {
    transform: translateY(-7rem);
}


.demo__hover-3 {
    top: 14rem;
}

.demo__hover-3:hover ~ .demo__highlighter {
    transform: translateY(14rem);
}

.demo__hover-3:hover ~ .demo__highlighter .demo__elems {
    transform: translateY(-14rem);
}

.demo__hover-4 {
    top: 21rem;
}

.demo__hover-4:hover ~ .demo__highlighter {
    transform: translateY(21rem);
}

.demo__hover-4:hover ~ .demo__highlighter .demo__elems {
    transform: translateY(-21rem);
}

.demo__hover-5 {
    top: 28rem;
}

.demo__hover-5:hover ~ .demo__highlighter {
    transform: translateY(28rem);
}

.demo__hover-5:hover ~ .demo__highlighter .demo__elems {
    transform: translateY(-28rem);
}

.demo__highlighter {
    z-index: 1;
    position: absolute;
    top: 0;
    left: -1rem;
    width: 72rem;
    height: 7rem;
    background: #39A5F7;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
    transition: transform 0.5s cubic-bezier(0.59, 0.04, 0.3, 1.43);
}

.demo__highlighter .demo__elems {
    position: relative;
    top: 0;
    left: 1rem;
    transition: transform 0.5s cubic-bezier(0.59, 0.04, 0.3, 1.43);
}

.demo__highlighter .demo__elem {
    color: #fff;
    border: none;
}

.link-unstyled {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
}

.icon-sort:hover {
    cursor: pointer;
}

.ui-state-active h4,
.ui-state-active h4:visited {
    color: #3892e6;
}

.ui-menu-item {
    padding-top: 5px;
    height: 70px;
    border-bottom: 1px solid lightgray;
}

.ui-widget-content .ui-state-active {
    background-color: white !important;
    border: none !important;
}

.ui-widget-content .ui-state-active .list_item_container {
    background-color: #f5f5f5;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
