
$liHeight: 7rem;
$contentPTop: 22rem;
$trans: 0.4s;
$transFast: 0.2s;
$cub: cubic-bezier(.59,.04,.3,1.43);
@mixin hoverLi($y) {
  transform: translateY($y);

  .demo__elems {
    transform: translateY(0 - $y);
  }
}
@mixin notFirst {
  .demo__examples {
    .example-adv__top,
    .example-adv__mid,
    .example-adv__line {
      transform: translateY(100%);
      opacity: 0;
      transition: transform $transFast, opacity $transFast;
    }
  }
}
.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18rem;
  margin-top: -25rem;
  width: 36rem;
  height: 50rem;
  padding-top: $contentPTop;
  background: #FFFFFF;
  box-shadow: 0 0.5rem 5rem rgba(0,0,0,0.4);
  font-family: $openSans;

  &__content {
    position: relative;
    height: 100%;
  }
  &__heading {
    font-size: 2.2rem;
    line-height: $liHeight;
    padding-left: 3rem;
    color: #313131;
  }
  &__elems {
    position: relative;
    height: 21rem;
  }
  &__elem {
    position: relative;
    height: $liHeight;
    font-size: 1.8rem;
    line-height: $liHeight;
    padding-left: 3rem;
    border-top: 1px solid #e7e7e7;
  }

  &__hover {
    z-index: 2;
    position: absolute;
    left: 0;
    width: 100%;
    height: $liHeight;
    cursor: pointer;

    &-1 {
      top: 0;

      &:hover ~ {
        .demo__highlighter {
          @include hoverLi(0);
        }
      }
    }
    &-2 {
      top: $liHeight;

      &:hover ~ {
        .demo__highlighter {
          @include hoverLi($liHeight);
        }

        @include notFirst;

        .demo__examples {
          .example-web__top,
          .example-web__left {
            transform: scale(1);
            opacity: 1;
            transition: transform $trans $transFast, opacity $trans $transFast;
          }
          .example-web__right-line {
            transform: scale(1);

            @for $i from 1 through 6 {
              &:nth-child(#{$i}) {
                transition: transform ($trans) 0.06s * ($i - 1);
              }
            }
          }
        }
      }
    }
    &-3 {
      top: $liHeight*2;

      &:hover ~ {
        .demo__highlighter {
          @include hoverLi($liHeight*2);
        }

        @include notFirst;

        .demo__examples {
          .example-both {
            background: #39A5F7;
            transition: background-color $trans $transFast;

            &__half {
              opacity: 1;
              transform: scale(1);
              transition: transform $trans $transFast, opacity $trans $transFast;
            }
          }
        }
      }
    }
  }

  &__highlighter {
    z-index: 1;
    position: absolute;
    top: 0;
    left: -1rem;
    width: 38rem;
    height: $liHeight;
    background: #39A5F7;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.2rem rgba(0,0,0,0.3);
    transition: transform 0.5s $cub;

    .demo__elems {
      position: absolute;
      top: 0;
      left: 1rem;
      transition: transform 0.5s $cub;
    }
    .demo__elem {
      color: #fff;
      border: none;
    }
  }

  &__examples {
    position: absolute;
    top: 0 - $contentPTop - $liHeight;
    left: 0;
    width: 100%;
    height: $contentPTop;
    padding: 5.5rem 7rem 0 7rem;

    &-nb {
      position: relative;
      height: 13.5rem;
      padding: 0 1.5rem;
      border-bottom: 1rem solid #424242;
    }
  }
}

